---
layout: default
---

<section class="hero">
  <div class="content">
    <div class="col-10 col-sm-12 col-centered">
      <h1 class="animated fadeInDown">Join the Major League Hacking Family!</h1>
    </div>
  </div>
</section>

<section class="jobs">
  <div class="content">
    <div class="col-8 col-sm-12 col-centered">
      <h2 class="text-center">Current Openings</h2>

      <ul>
        <li>{% include listing.html title="Sales Executive" team="Sales" type="Full Time" location="NYC" url="https://www.jsco.re/azy3" %}</li>
        <li>{% include listing.html title="Events Specialist" team="Events" type="Full Time" location="NYC" url="/jobs/events/event-specialist" %}</li>
        <li>{% include listing.html title="Event Rep" team="League" type="Contractor" location="North America / Europe" url="https://mlh.io/coaches" %}</li>
        <li>{% include listing.html title="Brand Ambassador" team="League" type="Contractor" location="North America / Europe" url="https://mlh.io/coaches" %}</li>
      </ul>

      <p class="text-center">Don't see something that's the right fit for you right now? <a href="https://majorleaguehacking.typeform.com/to/rmtogi?role=custom&source=mlh-careers">Apply Anyway</a>!</p>
    </div>
  </div>
</section>
