<p>Major League Hacking (MLH) is the official student hackathon league.
Hackathons are weekend-long invention competitions where high school and
college students form teams to build next generation apps, robots, websites,
and more. More than 65,000 students participate in MLH supported events in
North America and Europe each year.</p>

<p>MLH is a certified B Corp with a mission to empower hackers. Our first party
events are life-changing experiences for students. We empower them to learn,
build, and share the technology of tomorrow with their peers. Our events
provide a self-driven environment where students interact with each other
outside the confines of traditional academia. The MLH team grew out of this
movement and is dedicated to making it accessible to the entire world. You
don’t need to be a programmer yourself, but understanding the tech industry is
key.</p>
